.filters {
  margin-bottom: 15px;

  @media (min-width: 480px) {
    margin-bottom: 0;
  }
}

.filters-group {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-bottom: 30px;

  @media (min-width: 480px) {
    flex-direction: row;
    margin-bottom: 10px;
  }
}
